

/***** MAIN NAV *****/

.nav-main {
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-menu-btn,
.nav-menu a {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 50ms linear;
}

.nav-menu-btn {
  display: inline-block;
  height: 55px;
  padding: 18px 20px 0 20px;
  color: #f6f6f6;
}
.nav-menu-btn:hover,
.nav-menu-btn:focus,
.nav-menu-btn:active,
.nav-menu-btn.active {
  background: #f8f8f8;
  color: #19c1f0;
}

.nav-menu {
  position: relative;
  display: none;
  margin: 0;
  padding: 0;
}

.nav-menu a {
  display: block;
  width: 200px;
  height: 50px;
  padding: 15px 20px 0 20px;
  border-right: 4px solid #e0e0e0;
  background: #f8f8f8;
  color: #19c1f0;
}
.nav-menu a:hover,
.nav-menu a:focus,
.nav-menu a:active {
  border-right: 4px solid #159abf;
  background: #19c1f0;
  color: #f8f8f8;
}


@media screen and (min-width: 1120px) {

  .nav-menu-btn {
    display: none;
  }

  .nav-menu {
    display: inline-block;
    width: 100%;
  }

  .nav-menu li {
    display: inline-block;
    width: auto;
    margin: 5px 5px 0 5px;
  }

  .nav-menu a {
    width: auto;
    border-right: none;
    background: transparent;
    color: #fff;
  }
  .nav-menu a:hover,
  .nav-menu a:focus,
  .nav-menu a:active,
  .nav-menu a.active {
    border-right: none;
    background: #fff;
    color: #19c1f0;
  }

  .nav-menu .language {
    margin: 0;
    position: absolute;
    right: 0;
  }

  .nav-menu .language a {
    height: 55px;
    padding-top: 18px;
  }

  .nav-menu .language a:hover,
  .nav-menu .language a:focus,
  .nav-menu .language a:active,
  .nav-menu .language a.active {
    color: #efd662;
  }
}


/***** HEADER *****/

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 450px;
  overflow: hidden;
  background: #05bffc; /* Old Browsers */
  background: -webkit-linear-gradient(bottom left,#05bffc,#efd662); /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom left,#05bffc,#efd662); /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom left,#05bffc,#efd662); /*Fx 3.6-15*/
  background: linear-gradient(bottom left, #05bffc, #efd662); /*Standard*/
}

.header-title {
  position: absolute;
  transform: rotate(-7deg);
  width: 107%;
  height: 240px;
  bottom: -120px;
  left: 0%;
  background: #fff;
}

.header-title h1 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-size: 50px;
  position: relative;
  top: -45px;
  text-align: center;
  margin: 0;
  white-space: nowrap;
}

@media screen and (min-width: 750px) {
  .header-title {
    left: -2.5%;
  }

  .header-title h1 {
    font-size: 80px;
    top: -72px;
  }
}

@media screen and (min-width: 1120px) {
  .header-title {
    left: -2.5%;
  }

  .header-title h1 {
    font-size: 120px;
    top: -107px;
  }
}



.main {
  margin-top: 150px;
}
@media screen and (min-width: 750px) {
  .main {
    margin-top: 300px;
  }
}
@media screen and (min-width: 1120px) {
  .main {
    margin-top: 450px;
  }
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.btn {
  border-radius: 0;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 20px;
}

.btn-primary {

}

.btn-arrow {
  width: 200px;
  transition: all 200ms;
  cursor: pointer;
}

.btn-arrow span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 200ms;
}

.btn-arrow span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 200ms;
}

.btn-arrow:hover span {
  padding-right: 25px;
}

.btn-arrow:hover span:after {
  opacity: 1;
  right: 0;
}
