

/***** MAIN NAV *****/

.nav-main {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-menu-btn {
  color: #f6f6f6;
  height: 55px;
  padding: 18px 20px 0 20px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  transition: all 50ms linear;
  display: inline-block;
  text-decoration: none;
}
.nav-menu-btn:hover,
.nav-menu-btn:focus,
.nav-menu-btn:active,
.nav-menu-btn.active {
  background-color: #f8f8f8;
  color: #19c1f0;
}

.nav-menu {
  margin: 0;
  padding: 0;
  position: relative;
  display: none;
}

.nav-menu a {
  width: 200px;
  height: 50px;
  padding: 15px 20px 0 20px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  transition: all 50ms linear;
  display: block;
  text-decoration: none;
  background-color: #f8f8f8;
  color: #19c1f0;
  border-right: 4px solid #e0e0e0;
}
.nav-menu a:hover,
.nav-menu a:focus,
.nav-menu a:active {
  background-color: #19c1f0;
  color: #f8f8f8;
  border-right: 4px solid #159abf;
}


@media screen and (min-width: 1120px) {

  .nav-menu-btn {
    display: none;
  }

  .nav-menu {
/*    margin: 0;
    padding: 0;*/
    display: inline-block;
    width: 100%;
  }

  .nav-menu li {
    display: inline-block;
    margin: 5px 5px 0 5px;
    width: auto;
  }

  .nav-menu a {
    width: auto;
    background: transparent;
    color: #fff;
    border-right: none;
    /*color: #fff;*/
    /*display: inline-block;*/
    /*height: 50px;
    padding: 15px 20px 0 20px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    transition: all 50ms linear;*/
  }

  .nav-menu a:hover,
  .nav-menu a:focus,
  .nav-menu a:active,
  .nav-menu a.active {
    background-color: #fff;
    color: #19c1f0;
    border-right: none;
  }

  .nav-menu .language {
    margin: 0;
    position: absolute;
    right: 0;
  }

  .nav-menu .language a {
    height: 55px;
    padding-top: 18px;
  }

  .nav-menu .language a:hover,
  .nav-menu .language a:focus,
  .nav-menu .language a:active,
  .nav-menu .language a.active {
    color: #efd662;
  }
}





.header {
  top: 0;
  height: 450px;
  padding: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  position: fixed;
  background: #05bffc; /* Old Browsers */
  background: -webkit-linear-gradient(bottom left,#05bffc,#efd662); /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom left,#05bffc,#efd662); /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom left,#05bffc,#efd662); /*Fx 3.6-15*/
  background: linear-gradient(bottom left, #05bffc, #efd662); /*Standard*/
}

.header-title {
  transform: rotate(-7deg);
  position: absolute;
  width: 107%;
  left: -1.5%;
  bottom: -120px;
  background: #fff;
  height: 240px;
}

.header-title h1 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-size: 80px;
  position: relative;
  top: -72px;
  text-align: center;
  margin: 0;
  white-space: nowrap;
}

@media screen and (min-width: 1120px) {
  .header-title {
    left: -3.5%;
  }

  .header-title h1 {
    font-size: 120px;
    top: -107px;
  }
}



.main {
  margin-top: 450px;

/*  margin-top: 400px;
  z-index: 2;
  position: absolute;
  width: 100%;*/

}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.btn {
  border-radius: 0;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 20px;
}

.btn-primary {

}

.btn-arrow {
  width: 200px;
  transition: all 200ms;
  cursor: pointer;
}

.btn-arrow span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 200ms;
}

.btn-arrow span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 200ms;
}

.btn-arrow:hover span {
  padding-right: 25px;
}

.btn-arrow:hover span:after {
  opacity: 1;
  right: 0;
}
