/***** BOOTSTRAP TYPOGRAPHY/UI OVERRIDES *****/

body {
  font-size: 16px;
  line-height: 1.3em;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
h1 {
  font-size: 75px;
}
h2 {
  margin: 50px 0 30px 0;
  font-size: 60px;
}

.btn {
  border-radius: 0;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 20px;
}

.btn-primary {
  background: #444;
  border-color: #444;
}
.btn-primary:hover,
.btn-primary:focus {
  background: #000;
  border-color: #000;
}

.jumbotron p {
  margin-bottom: 10px;
  font-size: inherit;
  font-weight: inherit;
}


/*** Buttons with arrows on hover ***/
.btn-arrow {
  width: 200px;
  transition: all 200ms;
  cursor: pointer;
}
.btn-arrow span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 200ms;
}
.btn-arrow span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 200ms;
}
.btn-arrow:hover span,
.btn-arrow:focus span,
.btn-arrow:active span {
  padding-right: 25px;
}
.btn-arrow:hover span:after,
.btn-arrow:focus span:after,
.btn-arrow:active span:after {
  opacity: 1;
  right: 0;
}

/*** Modals ***/

.modal-content,
.form-control {
  border-radius: 0;
}



/***** MAIN NAV *****/

.nav-main {
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-menu-btn,
.nav-menu a {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 50ms linear;
}

.nav-menu-btn {
  display: inline-block;
  height: 55px;
  padding: 18px 20px 0 20px;
  color: #f6f6f6;
}
.nav-menu-btn:hover,
.nav-menu-btn:focus,
.nav-menu-btn:active,
.nav-menu-btn.active {
  background: #f8f8f8;
  color: #19c1f0;
}

.nav-menu {
  position: relative;
  display: none;
  margin: 0;
  padding: 0;
}

.nav-menu a {
  display: block;
  width: 200px;
  height: 50px;
  padding: 15px 20px 0 20px;
  border-right: 4px solid #e0e0e0;
  background: #f8f8f8;
  color: #19c1f0;
}
.nav-menu a:hover,
.nav-menu a:focus,
.nav-menu a:active {
  border-right: 4px solid #159abf;
  background: #19c1f0;
  color: #f8f8f8;
}

@media screen and (min-width: 1120px) {

  .nav-menu-btn {
    display: none;
  }

  .nav-menu {
    display: inline-block;
    width: 100%;
  }

  .nav-menu li {
    display: inline-block;
    width: auto;
    margin: 5px 5px 0 5px;
  }

  .nav-menu a {
    width: auto;
    border-right: none;
    background: transparent;
    color: #fff;
  }
  .nav-menu a:hover,
  .nav-menu a:focus,
  .nav-menu a:active,
  .nav-menu a.active {
    border-right: none;
    background: #fff;
    color: #19c1f0;
  }

  .nav-menu .language {
    margin: 0;
    position: absolute;
    right: 0;
  }
  .nav-menu .language a {
    height: 55px;
    padding-top: 18px;
  }
  .nav-menu .language a:hover,
  .nav-menu .language a:focus,
  .nav-menu .language a:active,
  .nav-menu .language a.active {
    color: #efd662;
  }
}


/***** HEADER *****/

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 450px;
  overflow: hidden;
  background: #05bffc; /* Old Browsers */
  background: -webkit-linear-gradient(bottom left,#05bffc,#efd662); /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom left,#05bffc,#efd662); /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom left,#05bffc,#efd662); /*Fx 3.6-15*/
  background: linear-gradient(bottom left, #05bffc, #efd662); /*Standard*/
  background: url('../fond.png') center center;
  border-bottom: 3px solid #fff;
  background-size: cover;
}

.header-title {
  position: absolute;
  transform: rotate(-7deg);
  width: 107%;
  height: 240px;
  bottom: -120px;
  left: 0;
  background: #fff;
}


.header-title h1 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-size: 50px;
  position: relative;
  top: -45px;
  text-align: center;
  margin: 0;
  white-space: nowrap;
}
@media screen and (min-width: 1920px) {
  .header-title {
    transform: rotate(-5deg);
  }
}

@media screen and (min-width: 750px) {
  .header-title {
    left: -2.5%;
  }

  .header-title h1 {
    font-size: 80px;
    top: -72px;
  }
}

@media screen and (min-width: 1120px) {
  .header-title {
    left: -2.5%;
  }

  .header-title h1 {
    font-size: 120px;
    top: -107px;
  }
}


/***** MAIN ZONE *****/

.main {
  margin-top: 150px;
}
@media screen and (min-width: 750px) {
  .main {
    margin-top: 300px;
  }
}
@media screen and (min-width: 1120px) {
  .main {
    margin-top: 450px;
  }
}


/***** SECTION: CV *****/

.cv-overview {
  margin-bottom: 70px;
}

.cv-overview h1 {
  margin: 0;
}
.cv-overview h1 .subtitle {
  margin: -8px 0 40px 0;
  font-size: 30px;
}

.cv-overview p {
  margin: 1.3em 0;
}
.cv-overview strong {
  font-size: 18px;
}

.cv-overview-image {
  display: none;
}
@media screen and (min-width: 992px) {
  .cv-overview-image {
    display: inline-block;
    z-index: -1;
    width: 110%;
    position: absolute;
    left: -90px;
    top: 36px;
  }
}
@media screen and (min-width: 1120px) {
  .cv-overview-image {
    left: -140px;
    top: 18px;
    width: 125%;
  }
}
@media screen and (min-width: 1200px) {
  .cv-overview-image {
    left: -150px;
    top: 0;
    width: 120%;
  }
}


@media screen and (max-width: 670px) {
  p.cv-overview-cta {
    text-align: center;
  }
}
@media screen and (min-width: 992px) and (max-width: 1249px) {
  .cv-overview-cta .btn.linked-in {
    display: none;
  }
}

.cv-overview-cta {
  margin-top: 40px;
  line-height: 3;
}


.cv-details {
  background-color: #79caaf;
  background-image: url('fond.png');
  background-size: cover;
  color: #fff;
}

.cv-details h2 {
  margin: 0 0 20px 0;
  font-size: 45px;
}
@media screen and (min-width: 992px) {
  .cv-details h2 {
    font-size: 60px;
  }
}

.cv-details h4 {
  font-size: 28px;
  margin: 38px 0 -2px 0;
}
.cv-details .subtitle {
  margin: -12px 0 48px 0;
}

.cv-techs-title {
  float: left;
  text-align: right;
  width: 170px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 3px 30px 0 0;
  margin: 0 0 1em;
}

.cv-techs p {
  margin-left: 170px;
}

.cv-techs span,
.cv-techs a {
  display: inline-block;
  padding: 1px 7px;
  font-size: 12px;
  background: #333;
  color: #fff;
  font-weight: bold;
  border-radius: 3px;
  margin: 0 0 3px 0;
}

.separator {
  display: block;
  border-top:5px solid #05bffc;
  height: 5px;
  background-color: #79caaf;
  border-bottom: 5px solid #efd662;

}

.cv-contact-cta {
  display: inline-block;
  border: 0;
  background: rgba(255, 255, 255, 0.3);
  padding: 18px 18px 8px;
  border-radius: 0;
  margin: 38px 0 8px 150px;
}

.visit-gl {
  margin: 24px 0 0 0;
}


/***** SECTION: PUBLICATIONS *****/

.publication {
  margin-bottom: 30px;
}
.publication-img {
  display: block;
  float: left;
  width: 33%;
  min-width: 180px;
  margin-right: 20px;
  height: auto;  
}

@media screen and (min-width: 768px) {
  .publication-img {
    float: none;
    width: 100%;
    margin-right: 0;
  }
}
.publication a {
  display: block;
}
.publication a,
.publication a:hover {
  text-decoration: none;
  color: #000;
}
.publication .date {
  margin: -0.9em 0 0.8em 0;
  font-size: 12px;
  color: #777;
}
.publication p {
  line-height: 1.4;
}
.publication .read-more {
  color: #337ab7;
}
.publication .read-more:hover {
  text-decoration: underline;
}




/***** SECTION: FEED *****/

.feed ul {
  list-style: none;
  margin: 0;
}

.feed-item {
  margin: 0;
  padding: 20px 0 20px 40px;
  position: relative;
  border-left: 2px solid #ddd;
}

.feed-item .date {
  margin: 0;
  font-size: 12px;
  color: #777;
}

.feed-item h3 {
  margin: 0;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
}
.feed-item p {
  font-size: 13px;
}
.feed-item p:last-child {
  margin-bottom: 0;
}
.feed-item .instagram-picture {
  float: left;
  padding: 0 6px 20px 0;
}
.feed-item .instagram-picture h3 {
  margin-bottom: 3px;
}
.feed-item .location {
  display: inline-block;
  margin-left: 20px;
  color: #aaa;
  font-size: 14px;
  font-weight: normal;
}
/* TODO merge with tags from CV */
.feed-item p.tags > span {
  display: inline-block;
  border: 1px solid #333;
  border-radius: 10px 3px 3px 10px;
  padding: 0 4px;
  font-size: 10px;
  color: #333;

}

.feed-item p.commit {
  font-size: 12px;
  line-height: 16px;
  margin: 3px 0 3px 10px;
}
.feed-item p.more {
  font-size: 10px;
  line-height: 13px;
  color: #777;
  margin: 2px 0 0 10px; 
}
.feed-item p.tweet {
  font-size: 16px;
  margin: 0 0 5px 0;
}



.feed-icon {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  color: #fff;
  text-align: center;
  font-size: 22px;
}
.feed-item .feed-icon {
  position: absolute;
  left: -21px;
  top: 30px;
}
.feed-icon.pocket {
  background-color: #ba3336;
  padding-top: 10px;
}
.feed-icon.github {
  background-color: #6a2d82;
  padding-top: 8px;
  font-size: 25px;
}
.feed-icon.stackoverflow {
  background-color: #ffa841;
  padding-top: 8px;
  font-size: 20px;
}
.feed-icon.stackoverflow-badge {
  background-color: #efd662;
  padding-top: 9px;
}
.feed-icon.medium {
  background-color: #17b375;
  padding-top: 9px;
}
.feed-icon.instagram {
  background-color: #00c;
  padding-top: 9px;
}
.feed-icon.twitter {
  background-color: #0bf;
  padding-top: 9px;
}

.feed-end {
  width: 10px;
  height: 10px;
  border-radius: 8px;
  background-color: #ddd;
  position: relative;
  left: -4px;
}



.feed-show-all,
.feed-show-all:hover {
  display: inline-block;
  background: #ddd;
  padding: 2px 20px;
  border-radius: 4px;
  color: #666;
  font-size: 12px;
  cursor: pointer;
}

.feed-source-title {
  margin-top: 83px;
  margin-bottom: 15px;
}


.feed-source {
  margin-bottom: 30px;
}

@media screen and (max-width: 991px) {
  .feed-source {
    width: 47%;
    display: inline-block;
  }  
}

.feed-source .feed-icon {
  float: left;
  margin-top: 3px;
}
.feed-source h3,
.feed-source p {
  margin: 0;
  padding: 0 0 0 55px;
}

.feed-source p {
  font-size: 13px;
  line-height: 1.1em;
  margin: 3px 0 10px;
}

.feed-source ul {
  list-style: square;
  margin: 0;
  padding-left: 65px;
}
.feed-source li {
  padding-left: 8px;
  font-size: 12px;
}


/***** FOOTER *****/
.footer {
  margin-bottom: 20px;
}
.legal-terms {
  font-size: 12px;
  margin: -0.5em 0 0.5em;
}
.legal-terms p {
  margin: 0 1.4em;
}
.footer h3 {
   margin-top: 0;
}
.footer-logo {
  display: block;
  float: left;
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

/***** CONTACT FORM *****/

.contact-loading,
.contact-success,
.contact-error {
  text-align: center;
}

.contact-loading .fa,
.contact-success .fa,
.contact-error .fa {
  display: block;
  font-size: 70px;
  line-height: 1.5;
}
.contact-loading .fa {
  color: #05bffc;  
}
.contact-success .fa {
  color: #17b375;
}
.contact-error .fa {
  color: #ba3336;
}